<app-header-one [sticky]="true"></app-header-one>

<app-breadcrumb [title]="'Nuestros Distribuidores'" [breadcrumb]="'Distribuidores'"></app-breadcrumb>

<!-- about section start -->
<section class="about-page  section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section">
                    <img src="assets/images/icon/beneficios.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-sm-12">
                <h1></h1>
                <p>GREE cuenta con más de 20 centros de distribución autorizados en la república mexicana. Tijuana, Mexicali, La Paz, Cabo San Lucas, Hermosillo, Los Mochis, Mazatlán, Culiacán, Aguascalientes, Guadalajara, Guanajuato, Acapulco, Reynosa,
                    Monterrey, Veracruz, Distrito Federal, Villahermosa, Chiapas, Merida, Cancún, Lázaro Cárdenas entre otras.</p>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->

<!-- Home slider start-->
<!-- <section class="p-0">
    <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'fashion'" [buttonText]="'shop now'">
    </app-slider>
</section> -->



<app-newsletter></app-newsletter>
<app-footer-one></app-footer-one>